<div class="container">
  <app-loading *ngIf="loading$ | async"></app-loading>
  <div *ngIf="!(loading$ | async)">
    <div class="container__title">
      <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge"></p-avatar>
      <a [routerLink]="['/users', (post$ | async)?.albumId]">User</a>
    </div>
    <app-post
      [imgSrc]="(post$ | async)?.url"
      [title]="(post$ | async)?.title"
    ></app-post>
    <hr />
    <h3>comments section</h3>
    <app-comment-form [postId]="(post$ | async)?.id ?? 0"></app-comment-form>
    <div *ngFor="let item of comments$ | async">
      <app-comment [text]="item.body" [name]="item.name"></app-comment>
    </div>
  </div>
</div>
